PROJECT_NAME="Auth"

POSTGRES_USER=postgres
POSTGRES_PASSWORD=secret
POSTGRES_DB=auth
POSTGRES_HOST=auth-db
POSTGRES_PORT=5432

REDIS_HOST=redis
REDIS_PORT=6379

SECRET_KEY=SECRET_KEY
ALGORITHM=HS256

SUPERUSER_PASSWORD=SUPERUSER_PASSWORD

YANDEX_CLIENT_ID=
YANDEX_CLIENT_SECRET=
YANDEX_REDIRECT_URI=