POSTGRES_DB=admin_session_storage
POSTGRES_USER=admin_user
POSTGRES_PASSWORD=admin_pass
POSTGRES_HOST=admin-session-storage
POSTGRES_PORT=5432

AUTH_SERVICE=auth
AUTH_PORT=8000
AUTH_LOGIN_EDNPOINT=users/login
ALGORITHM=HS256